.hero {
  position: relative;
  overflow: hidden;
  background-color: $color-solitude-3;

  &__wrapper {
    display: flex;
    gap: 56px;
    align-items: center;
    min-height: calc(100vh - 88px);
    padding: 70px 0;
    background-color: $color-solitude-3;
  }

  &__heading {
    margin: 0 0 24px;
    color: $color-black-russian;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }

  &__text {
    margin: 0 0 48px;
    color: $color-black-russian;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__download {
    padding: 18px 32px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }

  &__button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    padding: 0;
    border: none;
    border-radius: 8px;
    background-color: $color-royal-blue-1;
  }
}
